<form #myForm="ngForm" action="" (ngSubmit)="onSubmit(myForm)"
      class="ng-pristine ng-untouched ng-valid" novalidate="">
    <h3>Вход</h3>
    <div>
        <p>
            <label>Логин</label><br>
            <input type="text" [(ngModel)]="login" name="login_input" required pattern=".*\S+.*"/>
        </p>
        <p>
            <label>Пароль</label><br>
            <input type="password" [(ngModel)]="password" name="password_input" required pattern=".*\S+.*"/>
        </p>
        <p>
            <input type="submit" value="Войти" [disabled]="myForm.invalid">
        </p>
        <p id="auth_error" class="error-message"></p>
    </div>
</form>
